manifest {
    author = 'Ye Wang'
    homePage = 'http://andersenlab.org'
    description = 'Pipeline for mRNA analysis, including QC, mapping, quantification and analysis'
    mainScript = 'main.nf'
}

report {
    enabled = true
    file = 'report.html'
}

trace {
	enabled = true
	file = 'trace.txt'
	fields = 'task_id,hash,native_id,process,name,status,exit,container,cpus,%cpu,memory,%mem,time,attempt,submit,start,complete,rss,vmem,rchar,wchar'
}

params {
    output = "results/"
    email="yewangfaith@gmail.com"
}

profiles {
    local {
        process {
            //container = 'faithman/semrna-seq-nf'
            publishDir = [path: params.output, mode: 'copy', overwrite: 'true']
        }

        process.$qc_index.container = 'faithman/semrna-seq-nf'
        process.$kal_index.container = 'faithman/semrna-seq-nf'
        process.$kal_mapping.container = 'faithman/semrna-seq-nf'
        process.$salmon_quant.container = 'faithman/semrna-seq-nf'
        process.$fastqc.container = 'faithman/semrna-seq-nf'
        process.$multiqc.container = 'faithman/semrna-seq-nf'
        process.$sleuth.container = 'cbcrg/kallisto-nf'
        docker.enabled = true
    }
    quest {
        process { 
            cpus = 8
            memory = '16G'
        }
        //process.$sleuth.module = "R/3.3.1"
    }
}
